<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>后台管理-上海对外经贸大学-高校智库</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/user.css"/>
</head>
<body>
    <div layout:fragment="content">
        content
    </div>

    <script src="/webjars/jquery/1.11.3/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/admin/user.js(release=${@Constants.Release})}"></script>
</body>
</html>