<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="admin/layout/main">
<head>
    <title>后台管理-上海对外经贸大学-高校智库</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="left-side">
            <div class="panel panel-primary">
                <div class="panel-heading">网站信息管理</div>
                <div class="panel-body">
                    <ul class="category">
                        <li>用户管理</li>
                        <li>分类管理</li>
                        <li>幻灯片管理</li>
                        <li>图片管理</li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">智库概况</div>
                <div class="panel-body panel-body-hidden">
                    Panel content
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="panel panel-primary">
                <div class="panel-heading">网站信息管理 / 用户管理</div>
                <div class="panel-body">
                    <iframe th:src="@{/admin/users}" frameborder="0" height="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>