body {
    background: #efefef;
}

.login-panel {
    margin: 200px auto;
    width: 400px;
}

.login-table {
    width: 100%;
}

.login-table tr {
    height: 50px;
}

.login-username_label {
    text-align: right;
    width: 25%;
}

.login-username_input {
    padding: 0 0 0 10px;
}

.login-username_input input {
    width: 80%;
}

.login-password_label {
    text-align: right;
    width: 25%;
}

.login-password_input {
    padding: 0 0 0 10px;
}

.login-password_input input {
    width: 80%;
}

.login-action {
    text-align: center;
}

.errorMessage {
    text-align: center;
    color: red;
}