<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="admin/layout/login">
<head>
    <title>上海对外经贸大学-高校智库-后台管理</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/admin/login}" th:method="post" th:object="${loginForm}">
        <div class="panel panel-primary login-panel">
            <div class="panel-heading">高校智库-后台管理系统</div>
            <div class="panel-body">
                <table class="login-table">
                    <tr>
                        <td class="login-username_label">用户名</td>
                        <td class="login-username_input"><input th:field="*{username}" class="form-control" type="text"/></td>
                    </tr>
                    <tr>
                        <td class="login-password_label">密　码</td>
                        <td class="login-password_input"><input th:field="*{password}" class="form-control" type="password"/></td>
                    </tr>
                    <tr>
                        <td th:colspan="2" class="login-action">
                            <button class="btn btn-primary">登　录</button>
                        </td>
                    </tr>
                    <tr th:class="${errorMessage} ? '' : 'hidden'">
                        <td th:colspan="2" th:class="errorMessage">
                            <span th:text="${errorMessage}" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>
</body>
</html>